<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <div id="app">
    <%= htmlWebpackPlugin.options.appContent %>
  </div>
  <!--
    build: <%= htmlWebpackPlugin.options.versions.buildNumber %>
    app: <%= htmlWebpackPlugin.options.versions.app %>
    configuration: <%= htmlWebpackPlugin.options.versions.configuration %>
    library: <%= htmlWebpackPlugin.options.versions.library %>
    appstore: <%= htmlWebpackPlugin.options.versions.appstore %>
    build date: <%= htmlWebpackPlugin.options.versions.buildDate %>
  -->
</body>
</html>
